---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative z-10 bg-amber-50">
    <Header />
    <main class="flex flex-col m-8 p-4">
      <h1 class="text-5xl">I'm Back!</h1>
      <div class="mt-4">
        <h2 class="text-3xl font-bold underline">
          New Blog, More Simple and Old School
        </h2>
		<p>Writing is a way to think, and technology help express it more clearly, 
			but it could never replace the thinking itself, as the technology emerges just by thought itself!</p>
      </div>
    </main>
    <Footer />
  </body>
</html>
